.divMenues {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.form {
    margin-top: 100px;
    margin-bottom: 40px;
}
.input {
    margin: 0px auto;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: thin solid gray;
}
.h2 {
    text-align: center;
    margin: 15px 0px;
}
.mensajeError {
    background-color: rgba(255, 154, 154, 0.904);
    border-radius: 10px;
    color: white;
    text-align: center;
}
.datosVacio {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
@media all and (min-width:600px) {
    .input {
        width: 400px;
    }
    
}
@media all and (min-width:1200px) {
    .input {
        width: 600px;
    }
}