.seccionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
}
.input {
    border-radius: 10px;
    padding: 10px 15px;
    border: thin solid rgb(214, 214, 214);
    margin: 10px 0px;
}
.error {
    color: white;
    font-size: 12px;
    text-align: left;
}
.errorMail {
    position: absolute;
    top: 50px;
}
.errorPassword {
    position: absolute;
    top: 125px;
}
.button {
    margin: 10px 0px 0px 0px;
    background-color: #CD0E50;
    color: white;
    font-weight: bold;
    width: 150px;
    margin: 0% auto;
    cursor: pointer;
}

@media all and (min-width:600px) {
    .formulario {
        display: flex;
        
        justify-content: center;
        width: 400px;
    }
}