.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal.isOpened {
    display: flex;
}
.modalContainer {
    position: relative;
    /*min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-width: 600px;*/
    overflow-y:auto;
    background-color: #CD0E50;
    padding: 1rem;
    width: 90%;
    border-radius: 20px;
}
.modalClose {
    position: absolute;
    width: 18px;
    top: 3px;
    right: 10px;
    border: none;
    cursor: pointer;
    filter: invert(1);
}
.h2, .p, a {
    color: white;
}
.p, .a {
    font-size: 14px;
}

@media all and (min-width:600px) {
    .modalContainer {
        width: 400px;
    }
    .p, .a {
        font-size: 16px;
    }
}
@media all and (min-width:1200px) {
    .modalContainer {
        width: 600px;
    }
    .p, .a {
        font-size: 16px;
    }
}